<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>area</key>
		<integer>4096</integer>
		<key>height</key>
		<integer>64</integer>
		<key>name</key>
		<string>square1</string>
		<key>width</key>
		<integer>64</integer>
		<key>xLocation</key>
		<integer>1</integer>
		<key>yLocation</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>4096</integer>
		<key>height</key>
		<integer>64</integer>
		<key>name</key>
		<string>square2</string>
		<key>width</key>
		<integer>64</integer>
		<key>xLocation</key>
		<integer>64</integer>
		<key>yLocation</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>4096</integer>
		<key>height</key>
		<integer>64</integer>
		<key>name</key>
		<string>square3</string>
		<key>width</key>
		<integer>64</integer>
		<key>xLocation</key>
		<integer>128</integer>
		<key>yLocation</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>4096</integer>
		<key>height</key>
		<integer>64</integer>
		<key>name</key>
		<string>square4</string>
		<key>width</key>
		<integer>64</integer>
		<key>xLocation</key>
		<integer>192</integer>
		<key>yLocation</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>4096</integer>
		<key>height</key>
		<integer>64</integer>
		<key>name</key>
		<string>square5</string>
		<key>width</key>
		<integer>64</integer>
		<key>xLocation</key>
		<integer>1</integer>
		<key>yLocation</key>
		<integer>64</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>4096</integer>
		<key>height</key>
		<integer>64</integer>
		<key>name</key>
		<string>square6</string>
		<key>width</key>
		<integer>64</integer>
		<key>xLocation</key>
		<integer>64</integer>
		<key>yLocation</key>
		<integer>64</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>4096</integer>
		<key>height</key>
		<integer>64</integer>
		<key>name</key>
		<string>square7</string>
		<key>width</key>
		<integer>64</integer>
		<key>xLocation</key>
		<integer>128</integer>
		<key>yLocation</key>
		<integer>64</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>4096</integer>
		<key>height</key>
		<integer>64</integer>
		<key>name</key>
		<string>square8</string>
		<key>width</key>
		<integer>64</integer>
		<key>xLocation</key>
		<integer>192</integer>
		<key>yLocation</key>
		<integer>64</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>4096</integer>
		<key>height</key>
		<integer>64</integer>
		<key>name</key>
		<string>square9</string>
		<key>width</key>
		<integer>64</integer>
		<key>xLocation</key>
		<integer>1</integer>
		<key>yLocation</key>
		<integer>128</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>4096</integer>
		<key>height</key>
		<integer>64</integer>
		<key>name</key>
		<string>square10</string>
		<key>width</key>
		<integer>64</integer>
		<key>xLocation</key>
		<integer>64</integer>
		<key>yLocation</key>
		<integer>128</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>4096</integer>
		<key>height</key>
		<integer>64</integer>
		<key>name</key>
		<string>square11</string>
		<key>width</key>
		<integer>64</integer>
		<key>xLocation</key>
		<integer>128</integer>
		<key>yLocation</key>
		<integer>128</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>4096</integer>
		<key>height</key>
		<integer>64</integer>
		<key>name</key>
		<string>square12</string>
		<key>width</key>
		<integer>64</integer>
		<key>xLocation</key>
		<integer>198</integer>
		<key>yLocation</key>
		<integer>128</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>4096</integer>
		<key>height</key>
		<integer>64</integer>
		<key>name</key>
		<string>square13</string>
		<key>width</key>
		<integer>64</integer>
		<key>xLocation</key>
		<integer>1</integer>
		<key>yLocation</key>
		<integer>192</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>4096</integer>
		<key>height</key>
		<integer>64</integer>
		<key>name</key>
		<string>square14</string>
		<key>width</key>
		<integer>64</integer>
		<key>xLocation</key>
		<integer>64</integer>
		<key>yLocation</key>
		<integer>192</integer>
	</dict>
	<dict>
		<key>area</key>
		<integer>4096</integer>
		<key>height</key>
		<integer>64</integer>
		<key>name</key>
		<string>square15</string>
		<key>width</key>
		<integer>64</integer>
		<key>xLocation</key>
		<integer>128</integer>
		<key>yLocation</key>
		<integer>192</integer>
	</dict>
</array>
</plist>
